.part {
  background-color: white;
  padding: 15px;
  box-shadow: 0 5px 5px rgb(231, 231, 231);
  margin: 10px;
}

.profile {

}

.bbqs {
  .bbq {
    padding: 5px;
    border-bottom: 1px solid rgb(231, 231, 231);
  }
}

.bookings {

}