.part {
  background-color: white;
  padding: 15px;
  box-shadow: 0 5px 5px rgb(231, 231, 231);
  margin: 10px;
}

.profile {
  margin-bottom: 25px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr;
  .part {
    height: 100%;
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  .profile {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) {
  .profile {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 900px) {
  .profile {
    grid-template-columns: 1fr 2fr;
  }
}

.bbqs {
  .bbq {
    padding: 15px;
    border-bottom: 1px solid rgb(231, 231, 231);
  }
}

.bookings {
  p {
    margin: 0;
  }
  .booking {
    padding: 15px;
    border-bottom: 1px solid rgb(231, 231, 231);
  }
}