<div class="form">
<h2 class="text-center">Edit Booking</h2>
	<%= simple_form_for [@barbecue, @booking] do |f| %>
		<%= f.input :start_date %>
		<%= f.input :end_date %>
		<%= f.submit "Update your Booking", class: "btn btn-success w-100 my-3" %>
	<% end %>
</div>
