<h1>Edit booking</h1>
<div class="form">
	<%= simple_form_for [@barbecue, @booking] do |f| %>
		<%= f.input :start_date %>
		<%= f.input :end_date %>
		<%= f.submit "Update booking", class: "btn btn-primary" %>
	<% end %>
</div>
