<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dwptvy074/image/upload/v1558968003/barbecue-cover_ml41ba.jpg);">
  <div class="container">
    <h1>AIRBBQ</h1>
    <p>Find a Barbecue</p>
    <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    </form>
  </div>
</div>

<div class="cards">

  <div class="card-trip">
    <img src="https://res.cloudinary.com/dwptvy074/image/upload/v1558971540/bbq3_bhtm9n.jpg">
    <div class="card-trip-infos">
      <div>
        <h2>BBQ 1</h2>
        <p>Classic Barbecue</p>
      </div>
      <h2 class="card-trip-pricing">20 €</h2>
      <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
    </div>
  </div>

  <div class="card-trip">
    <img src="https://res.cloudinary.com/dwptvy074/image/upload/v1558971540/bbq2_nzbiir.jpg">
    <div class="card-trip-infos">
      <div>
        <h2>BBQ 2</h2>
        <p>Family Barbecue</p>
      </div>
      <h2 class="card-trip-pricing">30 €</h2>
      <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
    </div>
  </div>

  <div class="card-trip">
    <img src="https://res.cloudinary.com/dwptvy074/image/upload/v1558971540/bbq1_qbu9ax.jpg">
    <div class="card-trip-infos">
      <div>
        <h2>BBQ 3</h2>
        <p>Deluxe Barbecue</p>
      </div>
      <h2 class="card-trip-pricing">100 €</h2>
      <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
    </div>
  </div>
</div>