.banner {
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    .search-form-control {
      .form-control {
        background-color: rgba(black, 0.3);
        border: 2px solid white;
        border-radius: 25px;
        color: white;
        &::placeholder {
          color: rgba(white, 0.8);
        }
        &:focus{
          border: 3px solid white;
          background-color: rgba(black, 0.5);
        }
      }
    }
  }
  
  .banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 70px;
    letter-spacing: 15px;
    font-family: fantasy;
    font-weight: bolder;
  }
  
  .banner p {
    font-size: 18px;
    color: white;
    opacity: .9;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    letter-spacing: 8px;
    font-style: italic;
  }