.form {
  width: 60%;
  min-width: 300px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 5px 15px gray;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.align-button-center {
  text-align: center;
  .btn {
    display: inline-block;
    color: white;
  }
}