.navbar-lewagon {
  justify-content: space-between;
  background: white;
  
}

.item-spaced {
  margin: 0 20px;
}

.nav-item {
  padding: 0 20px;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


